.card_wrap {
  display: flex;
}

.card {
  background-color: var(--color-white);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  width: 25%;
  padding: 10px;
  
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.card_header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.change {

}

.icon {
  background: #EFF6FF;
  padding: 5px;
  border-radius: 10px;
}

.title {

}

.number{

}

