@import './reset.scss';

html,
body,
#root {
  background-color: #F9FAFB;
}

body.dark {
  
}

input {
  border: none;
  background: none;
  outline: none;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 30px;
}

span {
  display: block;
}

a {
  text-decoration: none;
}

.app {
  position: relative;
}