@import './reset.scss';

*,
*::before,
*::after {
  // -webkit-font-smoothing: antialiased;
  // font-smooth: antialiased;
  // font-synthesis: none;
}

html,
body,
#root {
  background-color: #F9FAFB;
}

body.dark {
  
}

input {
  border: none;
  background: none;
  outline: none;
}
