@import './reset.scss';

@font-face {
  font-family: 'Inter';
  src: url(@assets/fonts/Inter-Regular.woff) format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url(@assets/fonts/Inter-Medium.woff) format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url(@assets/fonts/Inter-Bold.woff) format('woff');
  font-weight: 700;
}

html,
body,
#root {

}

body {
  padding: 0;
  margin: 0;
  background-color: #F9FAFB;
  // line-height: 100%;

  --color-white: #fff;
  --color-green: #00A63E;
  --color-red: #E7000B;

  --border-color: #E5E7EB;
}

body.dark {
  
}

input {
  border: none;
  background: none;
  outline: none;
}

span {
  display: block;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: calc(1440px - 256px);
  margin: 0 auto;
  padding: 0 30px;
}

.app {
  position: relative;
}

.green {
  color: var(--color-green);
}

.red {
  color: var(--color-red);
}