h1,
h2,
h3,
h4,
h5,
h6,
body {
  margin: 0;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
}
