.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 15px 0;
  border-bottom: 1px solid #E5E7EB;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.title {

}

.items {
  display: flex;
  align-items: center;
  width: max-content;
}

.last_day, 
.btn_mode,
.profile {
  height: 38px;
  cursor: pointer;
}

.btn_mode,
.profile {
  width: 38px;
  cursor: pointer;
}

.last_day {
  background-color: #F3F4F6;
  padding: 0 30px;
  border-radius: 5px;
  border: 1px solid #E5E7EB;
}

.btn_mode {
  width: 38px;
  height: 38px;
  border: 1px solid #E5E7EB;
  background-color: #F3F4F6;
  border-radius: 5px;
  margin: 0 15px;
}

.profile {
  width: 38px;
  height: 38px;
  background-color: #D9D9D9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.profile_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
