.sidebar {
  width: 255px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--color-white);
  border-right: 1px solid var(--border-color);
}

.logo {
  color: #000;
  display: block;
  padding: 15px;
  border-bottom: 1px solid var(--border-color);
}

.items {
  display: flex;
  flex-direction: column;
  padding: 15px 19px 0;
}

.item {
  color: #000;
  border-radius: 10px;
}

.item:hover {
  background-color: #155DFC;
  color: var(--color-white);
  transition: 0.2s;
}